@charset "utf-8";
/* 投资成功 */
.investmentSuccess{width:1000px;height:auto;margin:0 auto 40px;border:1px solid #e1e0e0;background: #fff;}
.investmentSuccess .congratulations{width:100%;padding:40px 0 20px 0;}
.investmentSuccess .congratulations img{width:64px;height:60px;margin:0 auto;}
.investmentSuccess .congratulations .cg{height:60px;line-height: 60px;text-align: center;color:#5a5a5a;font-size:32px;}
.investmentSuccess .congratulations .threeMin{height:80px;line-height: 80px;text-align: center;color:#444;font-size:18px;}
.investmentSuccess .congratulations .threeMin strong{color:#ff6f0a;font-size:30px;}
.investmentSuccess .projectList{width:830px;height:auto;border:1px solid #e1e0e0;padding:20px 0;background: #f0f8ff;margin:0 auto;}
.investmentSuccess .projectList .title,.investmentSuccess .projectList .quanNianLeft{margin-left:40px;height:auto;width:100%;}
.investmentSuccess .yearRates,.investmentSuccess .total{}
.investmentSuccess .yearRates span,.investmentSuccess .total span{display:inline-block;width:250px;color:#999;font-size:14px;line-height:30px;}
.investmentSuccess .quanNianLeft .scheduleBar{width:94px;height:8px;background:#d9d9d9;overflow:hidden;display:inline-block;position:relative;}
.investmentSuccess .quanNianLeft .scheduleBarTop{width:0px;height:8px;background:#289cff;overflow:hidden;display:inline-block;position:absolute;}
.investmentSuccess .link{height:144px;line-height: 144px;font-size: 18px;color:#6d6d6d;text-align: center;}
.investmentSuccess .link a{color:#289cff;}
.investmentSuccess .link a:hover{text-decoration: underline;}
.investmentSuccess .link .paddingLeft{padding-left: 40px;}
.link .close{display: inline-block;margin-left: 30px;padding:0 18px;height:30px;background-color: #ff6f0a;line-height: 30px;vertical-align:middle;border-radius:4px;overflow: hidden;color:#fff;cursor:pointer;}
.link .close:hover{background-color: #f05a08}
.link span{vertical-align:middle;display: inline-block;}
.link strong{font-weight: bold;}
