@charset"utf-8";
body{min-width: 1000px;}
.newPeopBanner{background-color:#fff;width:100%;}
.newPeopBanner img{display: block;width:100%;min-width: 1000px;}
.how{width:1000px;margin:0 auto 10px;}
.how .title{width:206px;height:98px;margin:0 auto;padding:0 397px;line-height: 98px;color:#ff7510;font-size: 30px;font-weight: bold;background: url(../img/line.jpg) no-repeat 0 center;text-align: center;}
.how .aLine{width:50px;height:20px;margin:0 auto;border-top: 1px solid #ff7510;}
.how .step{width:100%;height:32px;padding:48px 0;text-align: center;}
.how .one{background: url(../img/oneBg.jpg) no-repeat center center; }
.how .two{background: url(../img/twoBg.jpg) no-repeat center center; }
.how .three{background: url(../img/threeBg.jpg) no-repeat center center; }
.how .step span{display: block;width:100%;height:32px;line-height: 32px;color:#666;font-size: 24px;background-color: #fff;}

.btn{width:100%;margin-top:30px;text-align: center;min-width: 1000px;position: relative;}
.btn img{display: inline-block;width:100%;height:322px;}
.btn a{position: absolute;left:50%;margin-left: -193px;top:0;width:386px;height:90px;line-height: 90px;font-size: 32px;color:#fff;font-weight: bold;letter-spacing:10px;}

.regsiterBar,.rechargeBar,.investBar{width:684px;height:112px;margin:0 auto;overflow: hidden;padding-bottom: 20px;}
.regsiterBar li,.rechargeBar li,.investBar li{padding:0 10px;width:208px;height:112px;float:left;cursor:pointer;}
.regsiterBar .bg1{background: url(../img/newComer/regsiterOne.gif) no-repeat;}
.rechargeBar .bg1{background: url(../img/newComer/rechargeOne.gif) no-repeat;}
.investBar .bg1{background: url(../img/newComer/investOne.gif) no-repeat;}
.regsiterBar .bg2{background: url(../img/newComer/regsiterTwo.gif) no-repeat;}
.rechargeBar .bg2{background: url(../img/newComer/rechargeTwo.gif) no-repeat;}
.investBar .bg2{background: url(../img/newComer/investTwo.gif) no-repeat;}
.regsiterBar .bg3{background: url(../img/newComer/regsiterThree.gif) no-repeat;}
.rechargeBar .bg3{background: url(../img/newComer/rechargeThree.gif) no-repeat;}
.investBar .bg3{background: url(../img/newComer/investThree.gif) no-repeat;}
.regsiterBar .one,.rechargeBar .one,.investBar .one{background-position: 0 0;}
.regsiterBar .two,.rechargeBar .two,.investBar .two{background-position: 0 -112px;}
.regsiterBar .three,.rechargeBar .three,.investBar .three{background-position: 0 -224px;}

.tabBar{width:100%;height:496px;overflow: hidden;}
.tabWrap{width:1000px;height:496px;position: relative;overflow: hidden;margin:0 auto;}
.content{width:724px;height:476px;background: url(../img/newComer/mask.png) repeat-x;overflow: hidden;margin:0 auto;padding:10px;border-radius:5px;position: relative;}
.moveDiv{width:2232px;height:476px;overflow: hidden;border-radius:5px;position: absolute;left:0;top:10px;}

.imgWrap{float:left;width:724px;height:476px;padding:10px;}
.imgBar{width:724px;height:416px;overflow: hidden;position: relative;}
.imgBar li{position: absolute;left:0;top:0;}
.imgBar img{width:724px;height:416px;}
.dot{width:144px;height:18px;padding-top:16px;margin:0 auto;}
.dot li{float:left;padding:0 26px;width:20px;height:18px;background: url(../img/newComer/circle.png) no-repeat center center;cursor:pointer;}
.dot .active,.dot li:hover{background: url(../img/newComer/circleActive.png) no-repeat center center;}

.mask{width:724px;height:416px;position: absolute;left:138px;top:20px;border-radius:5px;background-color: #000;filter:alpha(opacity=50);opacity:0.5;display: none;}
.prev,.next{width:26px;height:48px;background: url(../img/dir.png) no-repeat;position: absolute;top:224px;cursor:pointer;}
.prev{left:0;background-position: 0 -96px;}
.next{right:0;background-position: 0 0;}
.prev.active,.prev:hover{background-position: 0 -144px;}
.next.active,.next:hover{background-position: 0 -48px;}

.girlLeft,.girlRight{width:118px;height:170px;position: absolute;display: none;}
.girlLeft{left:0;top:0;background: url(../img/newComer/girlLeft.png) no-repeat;}
.girlRight{left:0;top:0;background: url(../img/newComer/girlRight.png) no-repeat;}
.regsiter .girlLeft{left:340px;top:250px;}
.recharge .girlRight{left:654px;top:214px;}
.invest .girlLeft{left:300px;top:200px;}

.guide1,.guide2{display: none;}
.regsiter .guide1{width:202px;height:252px;position: absolute;left:514px;top:20px;background: url(../img/newComer/regsiterGuide1.png) no-repeat;}
.regsiter .guide2{width:560px;height:226px;position: absolute;left:200px;top:200px;background: url(../img/newComer/regsiterGuide2.png) no-repeat;}
.recharge .guide1{width:232px;height:178px;position: absolute;left:578px;top:26px;background: url(../img/newComer/rechargeGuide1.png) no-repeat;}
.recharge .guide2{width:276px;height:178px;position: absolute;left:316px;top:186px;background: url(../img/newComer/rechargeGuide2.png) no-repeat;}
.invest .guide1{width:252px;height:128px;position: absolute;left:532px;top:28px;background: url(../img/newComer/investGuide1.png) no-repeat;}
.invest .guide2{width:376px;height:118px;position: absolute;left:450px;top:260px;background: url(../img/newComer/investGuide2.png) no-repeat;}
